@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
}

button {
  border: 0;
  outline: 0;
  padding: 8px 16px;
  background-color: #eceff1;
  color: #212121;
  border-radius: 4px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-top: 1px;
  -webkit-box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button.primary {
  background-color: #2196f3;
  color: #eceff1;
}

button.info {
  background-color: #ffeb3bd8;
}

button.success {
  background-color: #4caf50;
  color: #eceff1;
}

button.danger {
  background-color: #f44336;
  color: #eceff1;
}

.container {
  width: 85vw;
  margin: 0 auto;
  padding: 5px 16px;
}

@media (min-width: 960px) {
  .container {
    width: 75vw;
  }
}

span.primary,
div.primary,
p.primary {
  background-color: #2196f3;
  color: #eceff1;
  padding: 0px 5px;
  border-radius: 5px;
}

span.danger,
p.danger,
div.danger {
  background-color: #f44336;
  color: #eceff1;
  padding: 0px 5px;
  border-radius: 5px;
}

span.info,
p.info,
div.info {
  background-color: #ffeb3bd8;
  padding: 0px 5px;
  border-radius: 5px;
}

span.success,
p.success,
div.success {
  background-color: #4caf50;
  color: #eceff1;
  padding: 0px 5px;
  border-radius: 5px;
}

h1 {
  font-weight: 600;
  font-size: 4.5rem;
}

h2 {
  font-weight: 600;
  font-size: 3.4rem;
}

h3 {
  font-weight: 600;
  font-size: 2.8rem;
}

h4 {
  font-weight: 600;
  font-size: 2rem;
}

h5 {
  font-weight: 600;
  font-size: 1.5rem;
}

h6 {
  font-weight: 600;
  font-size: 1rem;
}

input[type="text"],
input[type="date"],
input[type="search"],
select,
textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #212121;
  padding: 8px 8px;
  margin: 1px 0px 2px 0px;
  border-radius: 5px;
}

input[type="text"]:active, input[type="text"]:focus,
input[type="date"]:active,
input[type="date"]:focus,
input[type="search"]:active,
input[type="search"]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  border: 1px solid #2196f3;
}

select {
  background-color: white;
  cursor: pointer;
}

select:focus {
  border: 1px solid #212121;
}

textarea {
  height: 150px;
  resize: vertical;
}

input[type="file"] {
  width: 100%;
  outline: 0;
  border: 1px solid #212121;
  padding: 8px 8px;
  margin: 1px 0px 2px 0px;
  border-radius: 5px;
}

input[type="file"]:active, input[type="file"]:focus {
  border: 1px solid #2196f3;
}

input[type="file"]::-webkit-file-upload-button {
  border: 0;
  outline: 0;
  padding: 2px 10px;
  background-color: #eceff1;
  color: #212121;
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 2px;
  margin-top: 1px;
  -webkit-box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col-1 {
  width: 6.7953%;
}

.col-2 {
  width: 15.26846%;
}

.col-3 {
  width: 23.74161%;
}

.col-4 {
  width: 32.21477%;
}

.col-5 {
  width: 40.68792%;
}

.col-6 {
  width: 49.16107%;
}

.col-7 {
  width: 57.63423%;
}

.col-8 {
  width: 66.10738%;
}

.col-9 {
  width: 74.58054%;
}

.col-10 {
  width: 83.05369%;
}

.col-11 {
  width: 91.52685%;
}

.col-12 {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */
